* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.background-container {
  height: 100vh;
  position: relative;
}
.background-green {
  height: 20vh;
  background-color: #009688; /* verde */
}
.background-grey {
  height: 80vh;
  background-color: #DBDBD2; /* grigio */
}
.background-overlay {
  /* background-color: black; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
}

.container-window {
  background-color: blue;
  height: calc(100vh - 30px);
  width: 100%;
  max-width: 1024px;
  margin: auto;
}
