* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Lato', sans-serif;
}
h2 {
  font-size: 11px;
  margin-bottom: 5px;
}

/* MIX */
.bg_grey {
  background-color: #E9EBEB;
}
.list_inline {
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.list_inline > li {
  margin: 0 2px;
}
.list_inline > li > a {
  color: #B1B1B1;
  padding: 0 5px;
}

/* CONTENITORE PAGINA */
.background-container {
  height: 100vh;
  position: relative;
}
.background-green {
  height: 15vh;
  background-color: #009688; /* verde */
}
.background-grey {
  height: 85vh;
  background-color: #DBDBD2; /* grigio sfondo */
}
.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
}

/* CONTENITORE FINESTRA */
.container-window {
  height: 100%;
  width: 100%;
  max-width: 1024px;
  margin: auto;
  display: flex;
}

.contact-column {
  height: 100%;
  width: 35%;
  border-right: 1px solid lightgrey;
}

.chat-column {
  height: 100%;
  width: 65%;
}

/*
----------------
COLONNA CONTATTI
----------------
*/

/* BARRA UTENTE */
.user-section {
  height: 50px;
  width: 100%;
  background-color: #EAEAEA; /* grigio user */
  display: flex;
  padding: 7px;
}
.logo-user {
  height: 100%;
  width: 20%;
}
.logo-user > img {
  height: 100%;
  border-radius: 50%;
}
.user-icons {
  height: 100%;
  width: 80%;
}

/* BARRA NOTIFICHE */
.notification-section {
  height: 55px;
  width: 100%;
  background-color: #8EDAFC; /* azzurro */
  display: flex;
  padding: 10px;
  align-items: center;
}
.notification-logo {
  background-color: #fff;
  padding: 8px;
  border-radius: 50%;
}
.notification-logo > i {
  color: #8EDAFC;
}
.notification-info {
  font-size: 9px;
  margin-left: 10px;
}
.notification-info > a {
  color: grey;
}


/* BARRA RICERCA */
.search-section {
  height: 30px;
  width: 100%;
  background-color: #FAFAFA;  /* grigio chiaro search */
  padding: 5px;
  line-height: 20px;
}

.search-wrapper {
  background-color: #fff;
  height: 100%;
  display: flex;
  align-items: center;
}
.search-wrapper > input {
  border: none;
  width: 100%;
  height: 100%;
  font-size: 11px;
}
.search-wrapper > a {
  color: #B1B1B1;
  font-size: 12px;
  margin: 0 20px;
}

/* LISTA CONTATTI */
.contact-list-section {
  height: calc(100% - (50px + 55px + 30px));
  width: 100%;
  background-color: #fff;
  overflow-y: auto;
}
.contact_box {
  height: 50px;
  padding: 6px 6px 6px 12px;
  border-bottom: 1px solid lightgrey;
}
.message_time {
  align-self: flex-start;
  color: lightgrey;
  font-weight: 700;
  font-size: 8px;
  padding-top: 5px;
}

/*
----------------
COLONNA CHAT
----------------
*/

/* INFO CONTATTO */
.chat-tools-section {
  height: 50px;
  width: 100%;
  background-color: #EAEAEA; /* grigio user */
  display: flex;
  padding: 7px;
}
.wrapper-contatto {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}
.logo-contatto {
  height: 100%;
}
.logo-contatto > img {
  height: 100%;
  border-radius: 50%;
}
.info-contatto {
  width: 100%;
  font-size: 9px;
  margin-left: 10px;
}
.info-contatto  > p {
  color: grey;
  font-weight: bold;
}
.contatto-icons {
  height: 100%;
  width: 100%;
}

/* FINESTRA CHAT */
.chat-screen-section {
  height: calc(100% - (50px + 50px));
  width: 100%;
  background-image: url(../img/mine.jpg);
  background-size: 350px;
  padding: 40px 60px 0;
  overflow-y: auto;
}
.box-message-container {
  width: 100%;
  display: flex;
}
.box-message-container-send {
  justify-content: flex-end;
}
.box-message-container-received {
  justify-content: flex-start;
}
.message-box {
  max-width: 50%;
  padding: 13px 30px 13px 13px;
  border-radius: 10px;
  font-size: 11px;
  position: relative;
  margin-bottom: 5px;
}
.message-box > p {
  word-wrap: break-word;
}
.message-box-send {
  background-color: #D5F9BA;
}
.message-box-received {
  background-color: #fff;
}
.message-box-time {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 8px;
  color: lightgrey;
}
.template-send, .template-received {
  display: none;
}


/* SEZIONE SCRITTURA */
.chat-write-section {
  height: 50px;
  width: 100%;
  background-color: #F3EEEA; /* grigio write */
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.chat-write-section > input {
  width: 85%;
  border: none;
  height: 100%;
  border-radius: 5px;
  padding: 10px;
  font-size: 11px;
}
.chat-write-section > a {
  color: #6B7376;
}
